/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template-rows: 11rem calc(100vh - 13.8rem) 2.8rem;
    font-family: "Poppins";
}

/* HEADER */

#bombilla {
    background-color: #f0cc2f;
    background-image: url(./multimedia/SVG/lightbulbon_121975.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 3.4%;
    right: 5%;
    border-radius: 100px;
}

header {
    background-color: #0b0b25;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}

header > ul:first-child {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}

header > ul:first-child > li:last-child {
    margin-top: 0.5rem;
}

header h1 {
    color: orange;
    font-size: 28px;
    margin-top: 0.8rem;
}

header .horaCara,
header .horaBarata {
    text-align: center;
    background-color: #2d3091;
    border-radius: 10px;
    margin: 0.2rem;
    padding: 0.2rem;
    width: 100px;
    font-size: 9px;
    color: #f0cc2f;
}

.grafico {
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 80vw;
}

.grafico > li {
    margin: 0 1.5px;
}

/* MAIN */
main {
    background-color: #151748;
    padding: 15px;
    overflow-y: scroll;
}

ul.ulMain {
    color: #f0cc2f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

ul.ulMain > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2d3091;
    border-radius: 25px;
    width: 46%;
}

h2 {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

li > img {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

main li p {
    font-size: 12px;
    margin: 8px 5px;
    text-align: center;
}

/* FOOTER */
footer {
    width: 100%;
    height: 2.8rem;
    background-color: #4e1d78;
    color: #ffcc3b;
    font-size: 2.5vw;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer > ul {
    display: flex;
    gap: 1rem;
    margin: 0 0.5rem;
    justify-content: space-evenly;
}

footer > ul > li {
    text-align: center;
}

/* ESTILO MODO CLARO*/

.modoClaro header {
    background-color: #79012c;
}

.modoClaro header h1 {
    color: #f0cc2f;
}

.modoClaro header ul {
    color: #f3ab2e;
}

.modoClaro main {
    background-color: #f67136;
}

.modoClaro ul.ulMain {
    color: #79012c;
}

.modoClaro ul.ulMain li {
    background-color: #f0cc2f;
}

.modoClaro footer {
    background-color: #79012c;
    color: #ffcc2f;
}

.modoClaro header .horaCara,
.modoClaro header .horaBarata {
    background-color: #ffcc2f;
    color: #79012c;
}

@media (min-width: 354px) {
    /* HEADER */
    header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 2rem;
    }

    header > ul:first-child > li:first-child {
        width: 100%;
        text-align: center;
    }

    header h1 {
        color: orange;

        margin-top: 0.8rem;
        display: inline-block;
    }

    /* FOOTER */
    footer > ul {
        gap: 2rem;
    }
}

@media (min-width: 525px) {
    /* HEADER */
    header .horaCara,
    header .horaBarata {
        text-align: center;
        background-color: #2d3091;
        border-radius: 10px;
        margin: 0.2rem;
        padding: 0.2rem;
        width: 200px;
    }

    header .horaCara,
    header .horaBarata {
        font-size: 13px;
    }

    header h1 {
        font-size: 3rem;
    }
    /* MAIN */
    .ulMain h2 {
        font-size: 20px;
    }

    .ulMain p {
        font-size: 15px;
    }
}

@media (min-width: 650px) {
    /* HEADER*/

    #bombilla {
        width: 40px;
        height: 40px;
    }

    /* MAIN */
    ul.ulMain {
        justify-content: space-evenly;
    }

    ul.ulMain li {
        width: 30vw;
    }

    .ulMain h2 {
        font-size: 25px;
    }

    .ulMain p {
        font-size: 17px;
    }

    /* FOOTER */
    footer {
        font-size: 2vw;
    }
}

@media (min-width: 900px) {
    /* HEADER */

    #bombilla {
        width: 50px;
        height: 50px;
    }

    header .horaCara,
    header .horaBarata {
        font-size: 12px;
        padding: 3px;
    }

    /* FOOTER */
    footer {
        font-size: 1.5vw;
    }
}

@media (min-width: 1200px) {
    /* HEADER */

    #bombilla {
        right: 26%;
    }

    header h1 {
        font-size: 55px;
    }

    header .horaCara,
    header .horaBarata {
        width: 200px;
        font-size: 16px;
    }
    header .horaBarata {
        position: absolute;
        left: 5%;
        top: 4%;
    }
    header .horaCara {
        position: absolute;
        right: 5%;
        top: 4%;
    }

    .grafico {
        height: 50px;
        width: 40vw;
        margin-top: 1rem;
    }

    /* MAIN */
    ul.ulMain li {
        width: 23vw;
    }
}

@media (min-width: 1600px) {
    /* HEADER*/
    header h1 {
        font-size: 65px;
    }

    header .horaCara,
    header .horaBarata {
        width: 300px;
        font-size: 20px;
        padding: 7px;
    }

    .grafico {
        height: 50px;
        width: 45vw;
    }
    /* MAIN */
    .ulMain h2 {
        font-size: 32px;
    }

    .ulMain p {
        font-size: 23px;
    }

    /* FOOTER */
    footer {
        font-size: 18px;
    }

    footer ul {
        gap: 5rem;
    }
}
